[Desktop Entry]
Type=Application
Name=PASSGUARD-X
Comment=Password recovery GUI (PASSGUARD-X)
Exec=passguard-x app
Icon=passguard-x
Terminal=false
Categories=System;Security;
StartupNotify=true
